.button {
    transition: 0.3s;
    pointer-events: auto;
    cursor: pointer;
    font-family: var(--BtnFontFamily), sans-serif;
    height: var(--BtnHeight);
    border-radius: var(--BtnBorderRadius);
    padding: var(--BtnPadding);
    color: var(--BtnActiveFontColor);
    background: var(--BtnActiveBgColor);
    border: var(--BtnActiveBorder);

    .buttonText {
        font-size: var(--BtnFontSize);
    }

    .iconLeft, .iconRight {
        font-size: var(--BtnFontSize);
    }
}

.button:hover {
    background: var(--BtnActiveHoverBgColor);
    transition: 0.3s;
}

.secondaryButton {
    color: var(--BtnSecondaryFontColor);
    background: var(--BtnSecondaryBgColor);
    border: var(--BtnSecondaryBorder);
}

.secondaryButton:hover {
    color: var(--BtnSecondaryHoverFontColor);
    background: var(--BtnSecondaryHoverBgColor);
    border: var(--BtnSecondaryHoverBorder);
}

.simpleButton {
    color: var(--BtnSimpleFontColor);
    background: var(--BtnSimpleBgColor);
    border: var(--BtnSimpleBorder);
}

.simpleButton:hover {
    color: var(--BtnSimpleHoverFontColor);
    background: var(--BtnSimpleHoverBgColor);
    border: var(--BtnSimpleHoverBorder);
}

.outlineButton {
    color: var(--BtnOutlineFontColor);
    background: var(--BtnOutlineBgColor);
    border: var(--BtnOutlineBorder);
}

.outlineButton:hover {
    color: var(--BtnOutlineHoverFontColor);
    background: var(--BtnOutlineHoverBgColor);
    border: var(--BtnOutlineHoverBorder);
}

.disabledButton {
    background: var(--BtnDisabledBgColor);
    color: var(--BtnDisabledColor);
    border: 1px solid transparent;
    pointer-events: none;
}

.disabledButton:hover {
    background: var(--BtnDisabledBgColor);
}

