.tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    border-bottom: var(--TabBorder);
    background: var(--TabBgColor);
}

.tab {
    display: flex;
    gap: 8px;
    padding: 8px 16px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    color: var(--TabFontColor);
}

.tabSelected {
    border-bottom: var(--TabSelectedBorder);
    cursor: text;
    pointer-events: none;
    background: var(--TabSelectedBgColor);
    color: var(--TabSelectedFontColor);
}

@media only screen and (max-width: 700px) {
    .tabs {
        gap: 8px;
    }
}
