.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    p {
        margin-bottom: 4px;
    }

    input {
        transition: 0.3s;
        width: inherit;
        font-family: var(--InputFontFamily), sans-serif;
        height: var(--InputHeight);
        border-radius: var(--InputBorderRadius);
        padding: var(--InputPadding);
        border: var(--InputBorder);
        color: var(--InputActiveColor);
        font-size: var(--InputFontSize);
    }

    input:focus {
        outline: none;
        border: var(--InputFocusBorder);
        transition: 0.3s;
        color: var(--InputFocusColor);
    }
}

input::placeholder{
    color: var(--InputPlaceHolderColor);
}

input:disabled {
    background: var(--InputDisabledBgColor);
    color: var(--InputDisabledColor);
    border: 1px solid var(--InputDisabledBgColor);
}

