.textarea {
    display: flex;
    flex-direction: column;
    width: 200px;

    p {
        margin-bottom: 4px;
    }

    textarea {
        min-height: 120px;
        transition: 0.3s;
        resize: vertical;
        border-radius: var(--GInputBorderRadius);
        padding: var(--GTextAreaPadding);
        border: var(--GInputBorder);
        font-family: var(--GInputFontFamily), sans-serif;
    }

    textarea::placeholder {
        color: lightgray;
    }

    textarea:focus {
        outline: none;
        border: var(--GInputFocusBorder);
        transition: 0.3s;
    }
}

