.appBadge {
    padding: var(--BadgePadding);
    border-radius: var(--BadgeBorderRadius);
    border: var(--BadgeBorder);
    background: var(--BadgeBgColor);
    min-width: 50px;

    p {
        font-size: var(--BadgeFontSize);
        font-weight:  var(--BadgeFontWeight);
    }
}
