:root {
    //Page
    --PageHPadding: 100px;
    --PageVPadding: 100px;
    --PageBottomBorder: 1px solid #eaeaea;
    --PageSectionMinInnerWidth: 1280px;

    //Badge
    --BadgeBorder: 1px solid #eaeaea;
    --BadgeBorderRadius: 10px;


    //Button
    --BtnPadding: 0 16px;
    --BtnBorderRadius: 20px;
    --BtnFontSize: 12px;
    --BtnActiveBgColor: black;
    --BtnActiveHoverBgColor: gray;
    --BtnActiveFontColor: white;
    --BtnActiveBorder: 1px solid transparent;
    --BtnOutlineBgColor: white;
    --BtnOutlineHoverBgColor: #aaaaaa;
    --BtnOutlineFontColor: black;
    --BtnOutlineBorder: 1px solid gray;
    --BtnSimpleBgColor: white;
    --BtnSimpleHoverBgColor: #aaaaaa;
    --BtnSimpleFontColor: black;
    --BtnSimpleBorder: 1px solid transparent;
    --BtnFontFamily: 'Work Sans Variable';

    //Input
    --GInputPadding: 0 8px;
    --GInputHeight: 34px;
    --GInputBorder: 1px solid #bcbcbc;
    --GInputFocusBorder: 1px solid #676767;
    --GInputBorderRadius: 6px;
    --GInputPlaceHolderColor: 6px;
    --GInputActiveColor: 6px;
    --GInputFocusColor: 6px;
    --GInputDisabledColor: 6px;
    --GInputFontFamily: 'Work Sans Variable';

    //Select
    --GSelectBackground: #eaeaea;
    --GSelectSelectedBackground: #676767;

    //TextArea
        --GTextAreaPadding: 8px;

}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans Variable', sans-serif
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}