@import "theme_font";
@import "theme_scroll";

:root {
    // Common Internal Variables
    --BorderRadius: 8px;
    --PlaceHolderColor: gray;
    --DisabledBgColor: lightgray;
    --DisabledFontColor: gray;
    --InputHeight: 34px;

    //Page
    --PageHPadding: 100px;
    --PageVPadding: 100px;
    --PageBottomBorder: 1px solid #eaeaea;
    --PageSectionMinInnerWidth: 1280px;

    //Badge
    --BadgeBorder: 1px solid #eaeaea;
    --BadgeBorderRadius: var(--BorderRadius);
    --BadgeBgColor: #F7F7F7;
    --BadgePadding: 8px 10px;
    --BadgeFontSize: 13px;
    --BadgeFontWeight: 500;

    //Button
    --BtnPadding: 0 16px;
    --BtnBorderRadius: var(--BorderRadius);
    --BtnFontSize: 12px;
    --BtnActiveBgColor: black;
    --BtnActiveHoverBgColor: #5c5c5c;
    --BtnActiveFontColor: white;
    --BtnActiveBorder: 1px solid transparent;
    --BtnOutlineBgColor: white;
    --BtnOutlineHoverBgColor: #cacaca;
    --BtnOutlineFontColor: black;
    --BtnOutlineBorder: 1px solid gray;
    --BtnSimpleBgColor: white;
    --BtnSimpleHoverBgColor: #cacaca;
    --BtnSimpleFontColor: black;
    --BtnSimpleBorder: 1px solid transparent;
    --BtnFontFamily: 'Work Sans Variable';
    --BtnDisabledBgColor: var(--DisabledBgColor);
    --BtnDisabledColor: var(--DisabledFontColor);

    //Input
    --InputBorderRadius: var(--BorderRadius);
    --InputPlaceHolderColor: var(--PlaceHolderColor);
    --InputDisabledColor: var(--DisabledFontColor);
    --InputDisabledBgColor: var(--DisabledBgColor);
    --InputPadding: 0 8px;
    --InputBorder: 1px solid #bcbcbc;
    --InputFocusBorder: 1px solid #676767;
    --InputActiveColor: black;
    --InputFocusColor: black;
    --InputFontFamily: 'Work Sans Variable';

    //Select (Uses properties from Input)
    --SelectOptionBgColor: #eaeaea;
    --SelectOptionFontSize: 13px;
    --SelectSelectedBgColor: #676767;

    //TextArea
    --TextAreaPadding: 8px;
}

//Mobile
@media only screen and (max-width: 768px) {
    :root {
        --PageHPadding: 20px;
        --PageVPadding: 20px;
    }
}


html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans Variable', sans-serif
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}