html, body, input, header, span, p, button, div, section, h1, h2, h3, h4, h5, h6, small, big {
    font-family: 'Work Sans Variable', sans-serif;
}

a {
    text-decoration: none;
    color: #7183a2;
    transition: 0.3s;
}

a:hover {
    font-size: 14px;
    color: inherit;
    transition: 0.3s;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 500;
}

h4 {
    font-weight: 400;
}

h5 {
    font-weight: 400;
}

h6 {
    font-weight: 400;
}

header {
    font-size: 18px;
}

p {
    font-size: 16px;
}

span {
    font-size: 14px;
}

small {
    font-size: 12px;
}

a {
    font-size: 14px;
    cursor: pointer;
}


@media only screen and (max-width: 700px) {
    h1 {
        font-weight: 600;
    }

    h2 {
        font-weight: 500;
    }

    h3 {
        font-weight: 500;
    }

    h4 {
        font-weight: 400;
    }

    h5 {
        font-weight: 400;
    }

    h6 {
        font-weight: 400;
    }

    header {

    }

    p {

    }

    span {

    }

    small {

    }

    a {
        cursor: pointer;
    }
}
