html, body, input, header, span, p, button, div, section, h1, h2, h3, h4, h5, h6, small, big {
    font-family: 'Work Sans Variable', sans-serif;
}

:root {
    // Common Internal Variables
    --BorderRadius: 8px;
    --PlaceHolderColor: hsl(240 5% 64.9%);
    --DisabledBgColor: hsl(240 4.8% 95.9%);
    --DisabledFontColor: hsl(240 3.8% 46.1%);
    --InputHeight: 34px;
    --InputFontSize: 14px;
    --InputLabelFontSize: 13px;
    --InputLabelColor: hsl(240 5.9% 10%);
    --InputBgColor: hsl(0, 0%, 92%);

    // Page
    --PageHPadding: 100px;
    --PageVPadding: 100px;
    --PageBottomBorder: 1px solid hsl(240 4.8% 95.9%);
    --PageSectionMinInnerWidth: 1280px;

    // Toggle
    --SwitchBgColor: hsl(240 5% 97.8%);
    --SwitchOnBgColor: hsl(240 5% 10%);

    // Checkbox
    --CheckboxCheckedColor: hsl(240 5% 10%);
    --CheckboxUncheckedColor: hsl(240 5.9% 10%);

    // Tabs
    --TabBgColor: hsl(240 5% 97.8%);
    --TabSelectedBgColor: hsl(240 5% 10%);
    --TabFontColor: hsl(240 5.9% 10%);
    --TabSelectedFontColor: hsl(240 5% 97.8%);
    --TabBorder: 1px solid hsl(240 4.8% 95.9%);
    --TabSelectedBorder: 3px solid hsl(240 5% 10%);

    // Badge
    --BadgeBorder: 1px solid hsl(240 4.8% 95.9%);
    --BadgeBorderRadius: var(--BorderRadius);
    --BadgeBgColor: hsl(240 5.9% 90%);
    --BadgePadding: 8px 10px;
    --BadgeFontSize: 13px;
    --BadgeFontWeight: 500;

    // Button Primary
    --BtnHeight: var(--InputHeight);
    --BtnPadding: 0 16px;
    --BtnBorderRadius: var(--BorderRadius);
    --BtnFontSize: 12px;

    // Button Secondary
    --BtnSecondaryBgColor: hsl(240 5% 97.8%);
    --BtnSecondaryFontColor: hsl(240 5.9% 10%);
    --BtnSecondaryBorder: 1px solid hsl(240 5% 64.9%);
    --BtnSecondaryHoverBgColor: hsl(240 4.8% 95.9%);
    --BtnSecondaryHoverFontColor: hsl(240 5.9% 10%);
    --BtnSecondaryHoverBorder: 1px solid hsl(240 3.8% 46.1%);

    // Button Active
    --BtnActiveBgColor: hsl(240 5.9% 10%);
    --BtnActiveHoverBgColor: hsl(240 4.8% 20%);
    --BtnActiveFontColor: hsl(240 5% 97.8%);
    --BtnActiveBorder: 1px solid transparent;

    // Button Outline
    --BtnOutlineBgColor: hsl(240 5% 97.8%);
    --BtnOutlineFontColor: hsl(240 5.9% 10%);
    --BtnOutlineBorder: 1px solid hsl(240 5% 64.9%);
    --BtnOutlineHoverBgColor: hsl(240 4.8% 95.9%);
    --BtnOutlineHoverFontColor: hsl(240 5.9% 10%);
    --BtnOutlineHoverBorder: 1px solid hsl(240 3.8% 46.1%);

    // Button Simple / No Outline
    --BtnSimpleBgColor: hsl(240 5% 97.8%);
    --BtnSimpleFontColor: hsl(240 5.9% 10%);
    --BtnSimpleBorder: 1px solid hsl(240 5% 97.8%);
    --BtnSimpleHoverBgColor: hsl(240 4.9% 83.9%);
    --BtnSimpleHoverFontColor: hsl(240 5.9% 10%);
    --BtnSimpleHoverBorder: 1px solid hsl(240 4.8% 95.9%);

    // Button Font
    --BtnFontFamily: 'Work Sans Variable';
    --BtnDisabledBgColor: var(--DisabledBgColor);
    --BtnDisabledColor: var(--DisabledFontColor);

    // Input
    --InputBorderRadius: var(--BorderRadius);
    --InputPlaceHolderColor: var(--PlaceHolderColor);
    --InputDisabledColor: var(--DisabledFontColor);
    --InputDisabledBgColor: var(--DisabledBgColor);
    --InputPadding: 0 12px;
    --InputBorder: 1px solid hsl(240 5.9% 90%);
    --InputFocusBorder: 1px solid hsl(240 5% 64.9%);
    --InputActiveColor: hsl(240 5.9% 10%);
    --InputFocusColor: hsl(240 5.9% 10%);
    --InputFontFamily: 'Work Sans Variable';

    // Select
    --SelectHeight: var(--InputHeight);
    --SelectBgColor: var(--InputBgColor);
    --SelectFontSize: var(--InputFontSize);
    --SelectOptionBgColor: hsl(240 5.9% 90%);
    --SelectOptionFontSize: 14px;
    --SelectOptionSelectedBgColor: hsl(240 5.9% 90%);
    --SelectLabelColor: var(--InputLabelColor);
    --SelectLabelFontSize: var(--InputLabelFontSize);

    // Textarea
    --TextAreaPadding: 12px;
    --TextAreaMinHeight: 120px;
    --TextAreaLabelColor: var(--InputLabelColor);
    --TextAreaLabelFontSize: var(--InputLabelFontSize);

    // Modal
    --ModalBackgroundColor: hsl(240 5% 25%);
    --ModalMaxWidth: 90%;
    --ModalMaxHeight: calc(100% - 80px);
    --ModalBorderRadius: 10px;
    --ModalPadding: 20px;
    --ModalHeaderColor: hsl(240 5% 85%);
}

//Mobile
@media only screen and (max-width: 768px) {
    :root {
        --PageHPadding: 20px;
        --PageVPadding: 20px;
    }
}


html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans Variable', sans-serif
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}